[2015-07-06 13:38] fabricionaweb opened #1 "Decode from string text"
as it does for me to translate a string?

[code]

[2015-07-10 21:24] omnidan commented on #1
Thank you for your suggestion. I added `emoji.emojify(str)`, so you can use `emoji.emojify("example :hushed::star::heart_eyes:")` now to achieve exactly this.

Make sure to update node-emoji to 1.0.0 via npm!

[2015-07-10 21:24] #1 closed

[2015-07-20 18:19] drj-io opened #2 "js-emoji is 404"
https://github.com/iamcal/js-emoji/blob/master/emoji.js#L164-L1010

is 404

This is where I would get my lists of emoji.  Just thought I'd let you know.

[2015-07-20 19:09] omnidan commented on #2
Ah well, that sucks. I'll just update the link to https://github.com/omnidan/node-emoji/blob/master/lib/emoji.json which is where you can get the emoji list that node-emoji uses (it contains the same emoji as js-emoji). It's JSON, but of course you can convert it to any format you need.

[2015-07-20 19:11] #2 closed

[2015-11-10 12:54] ahanriat opened #4 "Add support for text emoji"
It could be nice to hace support for text emoji such as:
- `:D` -> 😀
- `;)` -> 😉
  etc..

I would like to submit a PR, do you have an idea where to start ?

[2015-11-10 13:29] omnidan commented on #4
@ahanriat adding a second argument to `emojify` that enables text -> emoji would probably be a good idea :wink:

[2015-11-10 14:35] ahanriat commented on #4
Ok I'll work on that ! :smiley:

[2015-11-21 11:09] omnidan commented on #4
@ahanriat any updates on this? :grin:

[2015-11-22 21:28] ahanriat commented on #4
Sorry I was busy with my work ^^ I've submitted #5 but there are still some things I would like to improve :wink:

[2016-01-07 10:52] callumlocke opened #6 "Unclear what happens in terminals that don't support emoji"
What would non-supporting systems see? Is there any way I could detect OS support, and show emoji only where it's supported, and fall back to alternative characters/words where necessary?

[2016-01-07 11:47] omnidan commented on #6
I googled about detecting emoji support and got the following result: https://stackoverflow.com/questions/23548946/how-can-i-check-if-a-users-computer-supports-emoji - no answers though :cry:

[2016-01-07 21:00] lgaticaq opened #7 "How to add custom emoji from png image"

[2016-01-08 14:20] omnidan commented on #7
Emoji are [unicode characters](http://www.unicode.org/emoji/charts/full-emoji-list.html), feel free to add any existing unicode characters [(by following the guide in README.md)](https://github.com/omnidan/node-emoji#adding-new-emoji) or create your own (you'd have to create a custom font with that character and you need to use that font in your application if you want to make use of the new chara

[2016-01-08 14:20] #7 closed

[2016-01-08 14:59] lgaticaq commented on #7
Thanks

[2016-02-13 15:14] ngryman opened #8 "Export hash of functions instead of an instance class"
Hey, awesome module!

I, and a vast portion of node developers, are used to pick only functions that they need in a module, instead of the whole namespace:
[code]

This obviously fails as `this` is not defined.

Would you mind exporting a hash of functions instead of an instance class? This is an internal singleton anyway, so having a instance does not have a real purpose here. I can provide a PR

[2016-02-13 18:33] omnidan commented on #8
You're totally right - would be nice if you could provide a PR :smile:

[2016-02-25 05:54] jackiehluo opened #9 "Allow multiple words to trigger the same emoji"
A lot of emojis have more commonly used names that are defined on [Emoji Cheat Sheet](http://www.emoji-cheat-sheet.com)! For instance, :+1: is both "+1" and "thumbsup."

[2016-02-25 06:58] omnidan commented on #9
@jackiehluo I would make a new `aliases.json` for that, maybe even allow users to define their own aliases. This would only work with `.get()`, of course. I'll probably have a look at it this weekend, but feel free to send a PR and I'll look at it earlier :wink:

[2016-02-25 06:58] omnidan commented on #8
@ngryman any updates on this? :grin:

[2016-02-25 07:00] omnidan commented on #6
Closing this for inactivity. Feel free to reopen if you have news on this :)

[2016-02-25 07:00] #6 closed

[2016-02-25 07:04] omnidan commented on #4
some input for this: https://stackoverflow.com/questions/5862490/how-to-match-emoticons-with-regular-expressions /cc @ahanriat

[2016-02-25 10:32] ngryman commented on #8
My bad, I didn't have time lately. Will do this now :)

[2016-02-25 18:32] jackiehluo commented on #9
Hm, wouldn't it be easier to just modify the existing emoji parser to add the full array of names to `emoji.json`? The aliases are standard across the websites that use the :emoji: syntax, and they could define their own aliases by adding them to `emojifile.js`!

[2016-02-25 18:38] jackiehluo commented on #9
Just a follow-up, I don't think that the different trigger words are necessarily aliases, either! It looks like the current parser is just pulling the first word by alphabetical order. :smiley:

[2016-02-28 15:19] omnidan commented on #8
No worries :wink: Looks good to me.

[2016-02-28 15:19] #8 closed

[2016-02-28 15:26] omnidan commented on #9
Yeah, you're right, it's not like you want to define aliases at runtime :wink: Thanks a lot for the PR! Somehow, [your commit](https://github.com/jackiehluo/node-emoji/commit/849196273f7575cfc768e82036159ae6cad08314) is freezing @github for me :open_mouth:

[2016-02-28 21:00] omnidan commented on #9
Merged #11 which should fix this.

[2016-02-28 21:00] #9 closed

[2016-03-16 00:26] jackiehluo opened #12 "Support new emoji"
Would be great to have the new emoji that have been added! For instance, Slack supports :face_with_thermometer:, :middle_finger:, and a lot of other emoji from the last release.

[2016-03-16 00:46] omnidan commented on #12
@jackiehluo aren't they custom emoji though? I think there are some new official ones too, though, like :taco: (which github doesn't even seem to have yet).

[2016-03-16 01:19] jackiehluo commented on #12
Nope, not custom! Both of them are on iOS/OS X, too.

Yeah, GitHub is pretty behind on their emoji game... And it looks like Emoji Cheat Sheet is out of date, too. But I think it would be a pretty great addition!

[2016-03-16 12:14] omnidan commented on #12
@jackiehluo Ah, well it shouldn't be hard to add those if there is a list of official names.

[2016-03-18 13:20] #12 closed

[2016-03-18 13:22] omnidan commented on #12
I published [`1.2.1`](https://github.com/omnidan/node-emoji/releases/tag/v1.2.1) with the new emoji - thanks a lot :grin:

[2016-03-18 16:59] jackiehluo commented on #12
Cool, thanks so much!

[2016-03-26 23:07] mrmayfield opened #14 "Really difficult to see emoji list"
I'm trying to find specific emojis, but how do I find them? Scrolling sideways through the JSON? It's super de duper laggy and really hard to do . Can we have a hosted webpage where they're all listed?

[2016-03-26 23:08] mrmayfield commented on #14
Maybe even linking here is better: https://raw.githubusercontent.com/omnidan/node-emoji/master/lib/emoji.json

[2016-03-28 18:56] omnidan commented on #14
@mrmayfield I've noticed it's smooth on Chrome Canary. Still not the best way to find emoji - PRs for improving this are welcome :grin: (make sure to automatically generate from the emoji list)

[2016-03-28 19:35] mrmayfield commented on #14
Yeah I found the raw to be infinitely easier to search through, I don't know too much about emoji / unicode but perhaps we can get them displayed in the order they are in the Unicode spec? Seems most logical to me, is that how they're displayed in  existing emoji.json file, as according to Unicode order?

[2016-03-28 22:53] omnidan commented on #14
@mrmayfield I think they are simply in alphabetical order :wink:

[2016-04-13 17:58] ConcernedHobbit opened #16 "Check if emoji exists"
It would be a handy feature, especially if you're using user input

[2016-06-08 14:14] xangel99 opened #17 "strip emoij"
strip all emoij on a string for logging readable string

[2016-06-08 15:43] omnidan commented on #17
@xangel99 are you talking about stripping emoji (:smile:) or emojicodes (`:smile:`)? What do you mean by "for logging readable string"?

[2016-06-09 14:13] xangel99 commented on #17
input string:
       Host: eseaps001 Addr: 10.XX.XX.XX: - :warning: :wavy_dash: :wavy_dash: low disk space

clean string espected:
       Host: eseaps001 Addr: 10.XX.XX.XX: - low disk space

now i using this regular expression to clean the string
       /[:][a-z_0-9]+[:]/g

[2016-06-09 14:17] xangel99 commented on #17
the new method will be strip any emojicode present into the string.

[2016-06-09 16:40] omnidan commented on #17
@xangel99 Yeah, that makes sense. I would be happy about a PR for this :wink:

[2016-06-20 13:05] OrKoN opened #18 "Feature idea: a cb for emojify which allows to provide an emoji as an image if it is not found in the built-in set"
For example,

[code]

What do you think?

[2016-06-20 19:42] omnidan commented on #18
I like that idea 👌  (`name` should probably not contain `:` though, that way you could simply do: `name => name + '.svg'`)

Feel free to send a PR, otherwise I'll look into this in July when I'm available again :wink:

[2016-06-21 07:06] baoyouwangning opened #20 "1 do not want to turn into one"
Emoji.which = function which(emoji_code) {
  for (var prop in Emoji.emoji) {
    if (Emoji.emoji.hasOwnProperty(prop)) {
      if (Emoji.emoji[prop].codePointAt() === emoji_code.codePointAt()) {
        return prop;
      }
    }
  }
};

Why is not this part of the following write?
if (Emoji.emoji[prop].codePointAt() === emoji_code.codePointAt() && Emoji.emoji[prop].length === emoji_code.length )

[2016-06-21 07:45] OrKoN commented on #18
Thanks

[2016-06-21 07:45] #18 closed

[2016-06-21 11:13] omnidan commented on #20
I don't really understand what the issue is here, can you provide an example of the problem you are encountering?

[2016-08-19 23:51] omnidan commented on #20
closing for inactivity, feel free to reopen if you're still encountering this issue

[2016-08-19 23:51] #20 closed

[2016-09-07 01:24] cagataycali opened #24 "Emoji.Random() Feature has contains bugs after refactor"
Hi,

There's a little cute bug. Key param doesn't exist in emoji.js document context.
https://github.com/omnidan/node-emoji/blob/master/lib/emoji.js#L88

[2016-09-08 14:33] omnidan commented on #24
thanks for the notice :wink: fixed in `1.4.1`, I also added a unit test.

[2016-09-08 14:33] #24 closed

[2016-09-08 14:37] omnidan commented on #17
@xangel99 I've found something that might be helpful: http://stackoverflow.com/a/10999907/702288

[2016-09-10 02:08] cagataycali opened #25 "Emoji doesn't working"
[code]

💙  Emoji doesn't working.

[2016-09-10 10:53] omnidan commented on #25
@cagataycali I can't reproduce this issue, what exactly did you run? what errors did you get? The following code works fine for me:

[code]

[2016-11-17 22:44] kuzyn opened #27 "Discrepancy between OSX/Win"
Hi,

So I have this Electron app that make use of `node-emoji` and for the same code, I'm getting two different results. Do you have an idea as to what could be causing this?

[code]
### Windows
<img width="619" alt="screen shot 2016-11-17 at 5 39 06 pm" src="https://cloud.githubusercontent.com/assets/1139068/20410907/4fdb4eae-aced-11e6-8ff0-e84da0cefca9.png">

### OSX
<img width="581" alt="screen

[2016-11-21 23:20] omnidan commented on #27
@kuzyn Emoji are just unicode characters, and thus are part of the font. [Every platform has its own emoji.](http://unicode.org/emoji/charts/full-emoji-list.html) That's why emoji won't always look the same. You should be able to include a special font to make them look the same on all platforms, e.g. [emoji one](https://github.com/Ranks/emojione/tree/master/assets/fonts)

Let me know if that work

[2016-12-02 14:34] cdpuk opened #29 "1.4.2 release is missing index.js"
Bumped in to this just a moment ago when 1.4.2 was released, as the popular Yarn package management tool depends on this, and was not tied to a specific version.

[code]

Not an expert on how packages work, but I assume this is needed in order to `require` a package.

[2016-12-02 14:42] omnidan commented on #29
@cdpuk the `require` call should read the `main` property in `package.json`, which is set to `lib/emoji.js`, so everything should still work fine. I even tried this myself and `node-emoji` still works as expected with 1.4.2 :grin: let me know if this causes any issues for you.

[2016-12-02 14:43] kevynb commented on #29
Hello,

I have the same problem as cdpuk, seems it's not reading the package.json :/

[2016-12-02 14:43] omnidan commented on #29
@kevynb can you let me know what the issue is and how to reproduce it?

[2016-12-02 14:46] omnidan commented on #29
I just tried installing with npm (via `npm install node-emoji`) and yarn (via `yarn add node-emoji`), then executed the code from README:

[code]

and everything works fine.

[2016-12-02 14:47] kevynb commented on #29
Yep.

I did an `npm install yarn@0.17.8`
then `yarn`

which gave me:
[code]

[2016-12-02 14:49] omnidan commented on #29
@kevynb `yarn` is specific to your project, can you create a minimal project on github (or just upload a `package.json`), so I can reproduce this?

[2016-12-02 14:50] omnidan commented on #29
I tried it with my own `package.json`:

[code]

Then ran `yarn`, and everything works fine for me :/

[2016-12-02 14:52] omnidan commented on #29
I tried it with the latest `yarn` version (0.17.10) and your version (0.17.8) - both work fine, not sure how to reproduce this issue.

[2016-12-02 14:55] pdhoopr commented on #29
There are open issues with Yarn about this. I recently opened [#2119](https://github.com/yarnpkg/yarn/issues/2119), but the issue [#2072](https://github.com/yarnpkg/yarn/issues/2072) is definitely related and has more conversation around it.

[2016-12-02 14:58] omnidan commented on #29
@pdhoopr I see, seems like this is an issue related to the yarn cache. In that case, I'll close this issue, as it doesn't seem to be related to node-emoji. Thanks for all the comments, and feel free to reopen if you find out anything new :smile:

[2016-12-02 14:58] #29 closed

[2016-12-02 14:59] kevynb commented on #29
I reproduce it on one machine but not the other. Trying to spot how it happens

[2016-12-02 15:04] omnidan commented on #29
@kevynb no problem :smile: let me know if there's any news :wink:

[2016-12-02 15:07] mandragorn commented on #29
I'm getting the same problem, trying to figure out if I can fix it by clearing out yarn stuff.

[2016-12-02 15:08] omnidan commented on #29
@mandragorn try uninstalling and reinstalling yarn, maybe clearing the yarn cache

[2016-12-02 15:15] mandragorn commented on #29
Its happening for builds that install yarn fresh (new continuous integration servers).  Upgrading to yarn 0.17.10 fixes it.

[2016-12-02 15:33] pdhoopr commented on #29
Clearing the Yarn cache does seem to be the solution here. OS-specific cache folders can be found in Yarn issue [#2119](https://github.com/yarnpkg/yarn/issues/2119).

[2016-12-02 21:29] wjordan commented on #29
@omnidan this entry-point change is an incompatible API change that breaks [Semantic Versioning](http://semver.org/) guidelines, which npm [recommends](https://docs.npmjs.com/getting-started/semantic-versioning) for packages published to its repository. This breaking change should trigger a MAJOR version bump, otherwise it will continue to break downstream dependencies.

As far as I'm concerned, t

[2016-12-02 21:33] omnidan commented on #29
@wjordan Thanks for the information! I released `1.4.3` reverting the changes in `1.4.2` and moved them to a `2.0` branch. Let me know if it works fine now.

[2016-12-02 21:59] pdhoopr commented on #29
@wjordan @omnidan It's worth noting that an entry point change is not viewed by everyone as an incompatible API change. The conversation around [this `node-uuid` issue](https://github.com/kelektiv/node-uuid/issues/163) is a good example.

The relevant point here is that this package still worked the same once the entry point was changed in `v1.4.2` as it did in the previous `v1.4.1`. So if you wan

[2016-12-02 22:01] omnidan commented on #29
@pdhoopr yes this is definitely an issue with yarn caching, but it's also not such an important change that it has to be released now. I'll keep this reverted until yarn fixes the issue. :wink: Thanks for all the comments!

[2016-12-03 10:14] wjordan commented on #29
@omnidan Excellent! Thanks for the super-quick response and release. The updated version did fix the issue in my build and unblocked my team quickly.

After looking into the issue further, it does seem that you're correct that this is a bug in Yarn's require-resolving cache that didn't respect package-dependency updates, and nothing to do with breaking semantic versioning in a strict sense. Sorry

[2016-12-26 12:05] omnidan commented on #27
closing for inactivity and because it's not an issue this library can fix

[2016-12-26 12:05] #27 closed

[2016-12-26 12:05] omnidan commented on #25
closing for inactivity, feel free to reopen with more information

[2016-12-26 12:05] #25 closed

[2016-12-26 12:07] #14 closed

[2017-01-08 22:33] emanuelbuholzer opened #31 "Emoji selectors"
It would be very useful if the API could provide selector functions which allow the user to get all emojis and these of a given category. What do you think?

I'd work on that if everybody agrees 😃

[2017-01-09 09:14] omnidan commented on #31
This would be interesting, especially for applications that let users pick emoji. A PR would be very welcome :grin:

[2017-01-09 10:09] emanuelbuholzer commented on #31
Yes that's why I'd need it. Okay, so I'll start working on it.

[2017-01-09 10:27] emanuelbuholzer commented on #31
I just checked out the code and this will be a lot of repetitive boring work. Does anyone have an idea to do this without a simple manual made mapping table?

If not, I'll do the manual work :sob:

[2017-01-09 10:34] omnidan commented on #31
@emanuelbuholzer maybe you can find a list that groups emoji in categories, e.g. on a website - then you could automatically read this into a `category: [emoji, ...]` mapping with a little bit of JS magic :sparkles:

[2017-01-17 00:27] shellscape opened #33 "Readme Screenshot Incorrect"
README.md shows a screenshot from (I'm assuming) an older version. As `emoji.heart` returns `undefined` in the current published version. That would correspond with the API in rest of the README, but the screenshot shows an API which is no longer apparently supported, and since it's displayed first could give off the wrong info.

[2017-01-18 21:16] Hakej opened #34 "Not sure how to add my own emoji"
Can someone describe what should I do, step by step to add custom emoji? I have some custom emojis on my server, but it seems like when my bot is sending a message with custom emoji it doesn't work. Every other default emoji works though. I'm really lost at the moment. Sorry for posting it here, but I have really no idea where to post it.

[2017-01-18 22:15] emanuelbuholzer commented on #31
After some more, I stillt haven't found a way of grouping them together automatiaclly. I'll put this into the list of _"things I'll do at a suitable time in the future"_. I'll put all work into a branch - if anyone want's to help 🌟

[2017-01-24 13:22] wtgtybhertgeghgtwtg opened #35 "Consider bumping minimum supported `node` version."
If you drop unsupported `node` versions and support `node>=4`, you can drop the `string.prototype.codepointat` dependency.  You can also make things a little prettier.  For example,
[code]
becomes
[code]

[2017-02-03 13:47] smeijer opened #36 "opposite of `emoji.emojify`"
I'm looking for the opposite of `emoji.emojify`, to get messages out and into the database. Smartphone keyboards often just insert a unicode. I wish to map this to the corresponding string for database storage.

[code]

[2017-02-11 15:49] omnidan commented on #36
@smeijer that's a good idea! would you be willing to submit a PR for this? :grin:

[2017-02-11 15:55] omnidan commented on #35
@wtgtybhertgeghgtwtg I agree, but unfortunately there are still a lot of distributions (e.g. debian) that only provide node 0.x. I'm not sure if it will be worth it, it might break more than it will do good.

[2017-02-11 15:58] omnidan commented on #34
@Hakej emoji are simply unicode sequences, if you're sending a message with custom emoji, make sure the client can deal with these new sequences too.

[2017-02-11 21:27] wtgtybhertgeghgtwtg commented on #35
Then they can keep using `node-emoji@1.5.1`.  And if they're stuck with unsupported versions, emojis are the least of their problems.

[2017-02-13 19:42] omnidan commented on #35
@wtgtybhertgeghgtwtg hmm you're right, I was actually thinking about doing a `2.0` release, which could include this refactor. that would solve the issue, because `^1.5.1` won't upgrade to `2.0` automatically. would you be interested in doing a PR for this? :grin:

[2017-02-13 19:48] #33 closed

[2017-02-13 19:48] omnidan commented on #33
@shellscape thanks for the hint! nice catch - I didn't even notice that :wink:

the image is updated now

[2017-02-15 11:22] sibelius commented on #35
right now the node LTS is 6, so I think u should drop off node 0.x support

[2017-02-17 16:37] omnidan commented on #35
merged #37 into [2.0 branch](https://github.com/omnidan/node-emoji/tree/2.0), so this is resolved now

[2017-02-17 16:37] #35 closed

[2017-03-07 23:36] froatsnook commented on #36
Ask and ye shall receive.

[2017-03-09 21:27] froatsnook commented on #36
It looks like my PR is broken for big emojis like 👩‍❤️‍💋‍👩.  It turns out I don't need this code, but I'll fix it if I have time and feel like it!

[2017-03-19 09:51] vitalets opened #39 "Is it possible to require particular emoji instead of including whole bundle?"
I would like to use particular set of emoji in my project.
So I need something like this:
[code]

[2017-03-22 10:05] omnidan commented on #39
@vitalets unfortunately, this is currently not possible. if this is something you would like to work on, a PR would be very welcome :grin:

[2017-05-09 01:25] xitij opened #40 "Facebook :thinking_face: emoji not showing up"
First of all thanks for the great library. I'm currently using this library in conjunction with Microsoft Botbuilder to create a facebook chat bot. Most of the emojis are working perfectly, however I'm having an issue with the `:thinking_face:` emoji on facebook (skype as well).

Currently my code looks like this:
[code]
On facebook I'm seeing the following when the buttons are finally displayed:

[2017-05-09 11:29] omnidan commented on #40
@xitij seems to work fine in node itself, so it's probably not an issue with this library:

[code]

Did you try sending the emoji itself, without using node-emoji?

[2017-05-09 18:47] xitij commented on #40
I used the command you sent node in my terminal and I get output, which is promising, but it doesn't look correct:
![img](http://tinyimg.io/i/1Gmwj37.png)
I'm also seeing the same thing on Skype:
![img](http://tinyimg.io/i/am3Yz4y.png)

When I tried to just send the emoji as text through facebook I'm still seeing the same thing:
![img](http://tinyimg.io/i/sWDfjf8.png)

The code used to produce tha

[2017-05-09 21:37] xitij commented on #40
So I did some further research and according to [http://unicode.org/emoji/charts/full-emoji-list.html](the unicode emoji guide) everything is cool. It seems that my Chrome browser is having problems displaying that emoji.

I've tested it on another machine and everything is working fine, so my browser is the issue.

Thanks for your help, great library.

[2017-05-09 21:37] #40 closed

[2017-05-10 19:14] omnidan commented on #40
@xitij I'm glad you figured it out :grin: :ok_hand:

[2017-05-31 05:32] krishbhattacharyya opened #42 "Icons rendering issue"
Some icons are not rendering properly in my emulator, I have given few of them:
emoji.get(':double_vertical_bar:');
emoji.get(':black_square_for_stop:');
emoji.get(':black_circle_for_record:');

I am trying to make a react native component using this. Got the result but facing this issue.

![screenshot_1496208637](https://cloud.githubusercontent.com/assets/10433734/26617042/8765b318-45f0-11e7-83a9

[2017-06-01 20:08] omnidan commented on #42
@krishbhattacharyya are you sure this issue is related to node-emoji? Can you try rendering the emoji itself (without this library) and see if it works? I think the problem here might be react-native or platform related.

[2017-06-05 09:44] krishbhattacharyya commented on #42
@omnidan, Okay I will check this but please need some time, I will try this without react native, actually busy with some urgent tasks. May be you are right. It seems this is the rendering issue.
You can see the attached image.

![screenshot_1496311024](https://cloud.githubusercontent.com/assets/10433734/26779014/618049fa-4a01-11e7-9e78-4c771e3be4a4.png)

[2017-06-12 14:55] abdurrahmanekr opened #43 "How to get category ?"
[simple-emoji-picker](https://raw.githubusercontent.com/goshakkk/react-native-simple-emoji-picker/master/images/1.png) How can i categorize emojis ? Just like 'People', 'Nature', 'Foods', 'Activity', 'Places', 'Objects', 'Symbols', 'Flags'.

[2017-06-13 17:53] omnidan commented on #43
@abdurrahmanekr this is not possible right now. someone would have to manually group all emoji into categories. see https://github.com/omnidan/node-emoji/issues/31 for more information (basically the same issue as this one)

[2017-06-13 17:54] omnidan commented on #42
closing this for now (as it does not seem to be a node-emoji related issue), let me know when you found a solution to this :)

[2017-06-13 17:54] #42 closed

[2017-06-13 18:20] abdurrahmanekr commented on #43
Okay, let's continue on #31

[2017-06-13 18:20] #43 closed

[2017-06-13 18:20] abdurrahmanekr commented on #31
@omnidan, I actually sorted the emoji array. And succeeded. This is the sorted array, like:
[code]

[2017-06-13 19:25] emanuelbuholzer commented on #31
Thanks, that makes the whole process a lot easier. I'll work on category support in the next few days.

[2017-06-17 21:36] emanuelbuholzer commented on #31
If everybody agrees I'll implement categories according to recommended sort order, which is the default ordering of emoji characters from Unicode CLDR data.

For more information about the categories visit: [http://unicode.org/emoji/charts/emoji-ordering.html](http://unicode.org/emoji/charts/emoji-ordering.html)

[2017-06-17 22:59] abdurrahmanekr commented on #31
@emanuelbuholzer Looks good to me 👍

[2017-06-27 12:57] scripting opened #44 "Configure to add <span> around emoji?"
Thanks for doing node-emoji! I use it in the software that generates my blog, http://scripting.com/.

I was wondering if there is a way to configure node-emoji to add a span around each character you generate so I could control the display with CSS.

I specifically want to bump the font-size on the emoji.

You can see why in the first item on today's blog.

http://scripting.com/2017/06/27.html

Th

[2017-07-04 20:41] omnidan commented on #31
@emanuelbuholzer looks good :+1: would be nice if you could implement category support and submit a PR :grin:

[2017-07-04 20:44] omnidan commented on #44
Maybe we could add a way to customize the emojify function, by passing another function that transforms the emoji further, like this:

[code]

That way we could even implement more complicated behaviour, like loading emoji as images:

[code]

It would be great if you could send a PR for this feature :grin:

[2017-07-07 13:28] omnidan commented on #36
implemented in #41 by @shivkanthb - thanks a lot! released `1.6.0` with this fix

[2017-07-07 13:28] #36 closed

[2017-07-07 13:29] omnidan commented on #34
closing for inactivity, feel free to reopen if anything is still unclear :grin:

[2017-07-07 13:29] #34 closed

[2017-07-07 15:06] smeijer commented on #36
Sorry, I totally forgot this one. The implementation looks awesome. I only don't really like that you're now polluting the `+Object.prototype` namespace.

It could easily be fixed by replacing the method here:

https://github.com/omnidan/node-emoji/pull/41/files#diff-4a61896b6f06504368190384f1973ea0R131

[code]

And the call:

https://github.com/omnidan/node-emoji/pull/41/files#diff-4a61896b6f0650

[2017-07-10 11:25] smeijer commented on #44
I've taken the honer to implement this in #48

[2017-07-10 14:21] #44 closed

[2017-07-10 14:34] omnidan opened #49 "format behavior"
when `null` is specified as `onMissing` and a `format` function is specified, even non-existant emoji are modified. (introduced by #48)

The question here is which behavior we want. I think it's probably better if the formatting only gets applied to existing emoji and the rest are left alone by default (when `onMissing` is not defined).

[2017-07-11 18:28] emanuelbuholzer commented on #31
I started working on category support. If I'd implement it according to the source above (http://unicode.org/emoji/charts/emoji-ordering.html), the technique for getting emojis showed by @abdurrahmanekr would not work. It looks like the ordering isn't the same as the ordering within the Unicode CLDR data, furthermore it looks like some emojis are missing.

As an alternative I could implement categ

[2017-07-12 08:06] smeijer commented on #49
Aaah, I missed that one. Sorry for that. I'll submit a PR in a moment.

Regarding to the question on what behavior we want. I think you're right about that. The only case I can think of, is that people wan't to still wrap so they can also replace missing emoji's with something of their own. But than again; they should use `onMissing` for that, not `format`.

So not passing the `missing` trough `fo

[2017-07-12 09:55] smeijer commented on #16
What direction? Check if `:smile:` exists? Or if `😄` exists?

[2017-07-14 21:37] omnidan commented on #16
@smeijer I think both could be interesting, maybe we could return an object, e.g. `{ emoji: true, key: false }` if it's an emoji (:smile:) and not a key (`:smile:`)

[2017-07-14 21:38] #49 closed

[2017-07-15 07:55] smeijer commented on #16
I think that wouldn't be even necessary, a simple boolean return value would do it I guess. The caller is aware if he is checking a string or emoji.

[2017-07-15 12:48] omnidan commented on #16
@smeijer maybe, I think it's a bit too much "magic" if `true` means "either some string that could mean an emoji, or an actual emoji". Especially if you want to enforce something to be a valid emoji string *only* (not an actual emoji), the separation is needed.

The object would also be more consistent with the rest of the API, e.g.:

[code]

[2017-07-15 17:23] smeijer commented on #16
So more something like

[code]

X can either be the emoji or the string, and the function returns undefined when no result?

I guess we can also add a function `Emoji.isEmoji` which checks if a string or emoji is provided.

[code]

The `isEmoji` can only be used by emojis known by this library. So, what is the return value of "exists", for new valid emojis, that are not (yet) defined in this libra

[2017-07-15 18:31] omnidan commented on #16
@smeijer sounds good, maybe we can have two separate functions:

the following would return `true` for :heart: but not `:heart:`:

[code]

and this would return `true` for `:heart:` but not :heart: :

[code]

[2017-07-15 21:00] smeijer commented on #17
It should now be possible to abuse the `onMissing` and `format` arguments for this.

[2017-07-15 21:33] smeijer commented on #31
I think this file can be useful. As it seems to me that they've already categorized based on unicode. In that case, we can simply update the build script, and leave some credit.

https://github.com/OneSignal/emoji-picker/blob/master/lib/js/config.js#L851

[2017-07-16 16:12] smeijer commented on #16
Covered by #53.

[2017-07-21 23:17] omnidan commented on #17
@smeijer maybe we could provide a `strip` function that passes the onMissing and format arguments accordingly to emojify

[2017-07-21 23:20] omnidan commented on #16
released `1.8.0` with #53 merged. you can now use `Emoji.find` and `Emoji.hasEmoji`

[2017-07-21 23:20] #16 closed

[2017-07-21 23:22] omnidan opened #55 "re-work README"
see comments in #53 and #54

[2017-07-21 23:22] omnidan commented on #55
@smeijer any suggestions?

[2017-07-22 14:54] smeijer commented on #17
Yes, I already thought of this. But let's first finish the open PR's.

[2017-07-23 15:10] #17 closed

[2017-07-23 15:15] omnidan commented on #17
implemented in `1.8.1`, let me know if it works fine @xangel99 @smeijer

[2017-07-25 14:17] scripting commented on #44
Update: I'm using the feature in my blog now. Thanks! 👍

http://scripting.com/2017/07/25.html#a101356

[2017-07-26 17:27] omnidan commented on #44
@scripting glad to know it works fine :grin: thanks again for the PR, @smeijer !

[2017-09-05 15:10] smeijer commented on #31
Do you have an example @Gotemperor?

[2017-09-05 18:36] Gotemperor commented on #31
I am using localhost on my linux machine, so I can not gice you an example, but I see also missing icons when I open the github repository examples, they look like that
, "🙁", "🙂", "🙃", "🙄", "🙅", "🙆", "🙇", "🙈", "🙉", "🙊", "🙋", "🙌", "🙍", "🙎"

[2017-09-05 18:37] Gotemperor commented on #31
hmm, strange, they look ok here, but not ok on my localhost, can it be related to my localhost, to linux, or to missing font files? I used npm to install

[2017-09-05 19:53] omnidan commented on #31
@Gotemperor github defines fallback images for unsupported emoji. it seems like your platform does not support the latest emoji set. I tried running the example code on macOS 10.12.6 and they all show up fine for me (in the console).

[2017-10-03 20:16] highfeed opened #57 "support skin color modifiers"
Hello!

Why don't work this emoji?

https://runkit.com/embed/3gxoc1t1b4pn

[2017-10-06 19:44] RekkyRek commented on #57
+1

[2017-10-06 19:51] hex2f opened #59 "Emoji modifiers don't seem to work."
# Problem
I want to unemojify emojis that have modifiers (gender, color) but for some reason it doesn't even detect these as emojis.
# Example
`require('node-emoji').hasEmoji('🤦‍♂')   =>   false`
`require('node-emoji').find('🤦‍♂')   =>   undefined`
# Expected
`require('node-emoji').hasEmoji('🤦‍♂')   =>   true`
`require('node-emoji').find('🤦‍♂')   =>   ":man_facepalming:"`

[2017-10-09 12:58] Extracreative commented on #57
+1

[2017-10-23 16:15] omnidan commented on #57
@highfeed these emoji are actually two characters: the original emoji + a skin color modifier. Skin color modifiers are not implemented in this library yet. Unfortunately I don't have much time myself right now, but PRs are welcome :grin:

[2017-10-23 16:16] omnidan commented on #59
this is not implemented right now, also see #57. Unfortunately I don't have much time myself right now, but PRs are welcome 😁

[2018-02-19 10:11] telkomops opened #63 "Allow additional Emojis by custom json"
🤜 is not being recognized by node-emoji. This is added in 2016.
What would be right process to add this in the emoji.json ?
can i create a custom configuration and provide all missing emoji's in the separate json?
If i clone the module and update the .json,i might miss fixes on node-emoji. What would be the right approach?

[2018-04-26 09:10] #4 closed

[2018-06-24 21:16] ycmjason opened #64 "Make a bin so that we can quickly search through the emoji names"
Maybe we can make a CLI so that we can list out emojis / search through emojis etc..

E.g.

[code]

Just an idea. Please tell me what you think. Would love to submit a PR if you like the idea.

[2018-07-02 19:17] omnidan commented on #64
@ycmjason sounds interesting, which other features are you thinking about? Feel free to open a PR :grin:

[2018-07-02 19:48] omnidan commented on #63
@telkomops I think this should work when I release the next version (because #61 got merged). can you check if this emoji is part of the #61 json file?

[2018-07-14 10:50] timkinnane commented on #59
Hey @omnidan - this is a cool lib and I'd like to contribute. Would you mind updating the readme to separate the implemented features from those still on the roadmap as a starting point.

I only checked the issues after some time debugging my usage to find why they were returning undefined.

[2018-08-09 09:26] mskian opened #65 "Increase Emoji Size"
is there any option to Increase the Emoji Sizes?

[2018-08-14 11:03] omnidan commented on #65
@mskian Emoji are part of Unicode and work like a font. If you want to increase emoji size you need to do so by increasing the font size of the rendered emoji.

[2018-08-14 11:03] #65 closed

[2018-10-23 01:44] phillipkerman opened #67 "☂️ and ️️☔️ are swapped"
In the json file, the emojis are swapped (or just named backwards).  Thanks!

[2018-10-23 03:34] phillipkerman opened #68 "Email emoji should be 📧 (it's currently same as "envelope" ✉️)"
Thanks

[2018-10-25 10:33] sujay-bidchat opened #69 "New emojis are not supported"
@omnidan Please add support to New emojis in Android & iOS.

[2019-01-14 09:19] kabdulahi commented on #69
https://www.npmjs.com/package/node-emoji#adding-new-emoji

When following these instruction you should get the new emojies that were not in this package yet. It worked for me!

[2019-01-18 14:45] tracycollins commented on #69
Maybe I'm just dense, or the caffeine hasn't kicked in yet, but I can figure out how to follow the instructions to add emoji.

Specifically, the "rolling_on_the_floor_laughing": "🤣" emoji isn't being recognized, and I'm trying to update the list.

The instructions say:

The emoji.json file is of the form:

`{
 "rolling_on_the_floor_laughing": "🤣"
}`

[2019-01-25 10:24] kabdulahi commented on #69
**Solution: ** Overwrite emoji.json with https://raw.githubusercontent.com/omnidan/node-emoji/master/lib/emoji.json and do _not_ parse.

So I think the instructions that are on the package's page are indeed very confusing. So I tried again to fix this problem, but I did not succeed. So why did it work the first time for me? I don't know but I probably did the following by accident. I checked the e

[2019-02-15 20:57] charpeni commented on #69
Released as [`1.10.0`](https://github.com/omnidan/node-emoji/releases/tag/v1.10.0) 🎉

[2019-02-15 20:57] #69 closed

[2019-02-22 08:21] WuglyakBolgoink opened #73 "missed CHANGELOG.md file"

[2019-03-11 12:13] KaKi87 opened #74 "[Feature request] Detect emojis in sentence"
Hello,

I would like to check in an entire sentence if there are emojis in both formats : unicode & markdown.

Thanks !

[2019-03-30 17:56] deyvidfk commented on #74
Did you try using the 'emojify' method?

Here is a simple example:

[code]

[2019-03-30 20:30] KaKi87 commented on #74
Okay, but what I want is a method that returns an array with all emojis detected in the sentence.

Thanks

[2019-04-02 14:00] deyvidfk commented on #74
What do you think of the implementation? You could help me with the more succinct method name.

[code]

[2019-04-14 09:39] PhilipTKC commented on #64
Needed something similar, Created a react-app for this purpose.

[Node Emoji Lookup](https://github.com/PhilipTKC/node-emoji-lookup)

The bundle is stupidly big at the moment due to antd.

[2019-06-15 16:04] christianbundy opened #76 "bug: get() returning extra colons"
[code]

[2019-07-03 19:00] TomasRoj commented on #74
This is not issue about the node-emoji project itself but about its implementation. Please writw theese on Stack-Overflow but not here.

[2019-07-03 19:50] KaKi87 commented on #74
Why couldn't this feature be a part of node-emoji's implementation ?

[2019-07-03 19:58] TomasRoj commented on #74
This is code for your own project not for the node-eomji itself

[2019-07-04 09:58] KaKi87 commented on #74
[code]
[code]
That's what I'm asking for

[2019-08-19 03:05] jakesee opened #79 "Why is node-emoji rendering unexpected � character in console output?"
Original question here: https://stackoverflow.com/questions/57543615/why-is-node-emoji-rendering-unexpected-characters-in-console

The following code prints the emojis correctly

But one day overnight it just suddenly decided to add the � character

Does anyone know what is causing this problem? I have tested on Visual Studio Code 1.35.1, 1.36.1, 1.37.1. My latest Windows Update is version 1903. T

[2019-10-01 08:24] sanjeevgaut opened #80 "How to add custom emoji in node-emoji"
I need to add custom emojis in node-emoji. i have image in png format and need to use it as emoji in my node project.

i have seen this article but not understood how i can proceed.
https://github.com/omnidan/node-emoji/issues/7

@node-emoji
Thanks
Sanjeev Gautam

[2019-10-17 07:39] omnidan commented on #80
Unfortunately, that is not possible with emoji. Emoji only offer modifiers for skin color, not the color of any emoji. If you wanted to set a different emoji, you would have to modify it in the font used for emoji. Alternatively, you could just use an image.

[2019-10-17 07:39] #80 closed

[2019-10-23 16:36] #67 closed

[2019-10-28 15:49] emctackett commented on #63
This emoji, `'right-facing_fist'`, is in the current `emoji.json` file and I am able to use it successfully.  I think we can close this.

[2019-10-28 15:49] #63 closed

[2019-10-28 23:35] #68 closed

[2019-11-11 10:40] abdullahizzuddiin opened #83 "Lightning (Without Cloud) Emoji Is Not Exist"
Hi,

I want to insert [lightning only emoji](https://emojipedia.org/lightning/) on my app. But it seems doesn't exist.

![image](https://user-images.githubusercontent.com/6801853/68580452-fd5d7a00-04a8-11ea-8c76-12187a06220b.png)

I've checked the [list](https://raw.githubusercontent.com/omnidan/node-emoji/master/lib/emoji.json).

Suriprisingly, `lightning` and `lightning_cloud` has same emoji.
[c

[2019-11-12 02:11] abdullahizzuddiin commented on #83
Forget it.

after I read carefully, and tried many keyword. I got emoji lightning only with `zap` keyword;

[2019-11-12 02:11] #83 closed

[2019-11-14 16:14] emctackett opened #84 "bug: find() not working for all emojis"
Example:
[code]

I believe the root of the problem here is that in `lib/emoji.js` `emojiByCode` has a size of 1,529, while `emojiByName` has a size of 1,623.  Therefore, some emojis are able to be found by name but not by emoji code.

I'll work on this.

[2019-11-14 16:19] emctackett commented on #76
`emoji.get()` is meant to be used with the emoji name rather than the emoji code.

However, we can pretty easily add a guard clause to `get()` to return the emoji code itself if the user passes it in as an argument.  This will prevent the emoji code being returned wrapped in colons.

IMO it is best we address issue #84 first, so that all emoji codes are recognized as expected.  The emoji code used

[2019-11-21 15:51] emctackett commented on #76
Fixed via PR #85 . Closing.

[2019-11-21 15:51] #76 closed

[2019-11-21 15:53] emctackett commented on #84
After further investigation, I believe this was an error perhaps on my part, as this functionality was working just fine for me today.  I don't think the unicode was passed in properly before.  I'm closing this for now.

[2019-11-21 15:53] #84 closed

[2020-01-07 13:52] Richienb commented on #79
It's probably your terminal font or similar. It can't possibly be to do with the package itself.

[2020-01-07 13:52] #79 closed

[2020-01-07 13:53] Richienb commented on #74
@omnidan What's your opinion on this feature? Should this be included in v2?

[2020-01-07 14:05] Richienb commented on #39
In v1, you can do:

[code]

[2020-01-07 14:09] #39 closed

[2020-01-08 11:20] omnidan commented on #74
@Richienb yes, I think this could be a useful feature. we could also additionally add a flag that tells you whether it was an emoji code or an actual emoji.

[2020-01-08 14:07] KaKi87 commented on #74
Thanks !

[2020-03-16 14:41] GaryTowers commented on #31
Hey guys, I noticed this is an old post. Did this feature get considered on any release? @emanuelbuholzer is this something you are still working on?

[2020-03-16 19:30] Richienb commented on #31
@GaryTowers I'm pretty sure [`emojilib`](https://www.npmjs.com/package/emojilib) proves data for this to be possible. If we were to add this to `node-emoji` it would be using it.

[2020-03-24 22:19] wdfinch commented on #31
@GaryTowers I wrote a script to parse a json file with emojis and their respective categories. I uploaded the script and the json output to [wdfinch/emojis-json-formatted](https://github.com/wdfinch/emojis-json-formatted).

In the json folder, you'll find a file containing a bunch of emojis organized by category and sub-category. Additionally, you'll find a file that contains a single large json o

[2020-06-19 07:36] iondahea opened #91 "Custom color for red triangle emoji"
How can we change the 🔺 color to green instead of red

[2020-06-19 08:08] omnidan commented on #91
The emoji implemented in node-emoji are part of the unicode standard. If you want to change them, you need to create a custom emoji font. Alternatively, if you are on the web, you could simply use an image or svg instead.

[2020-06-19 08:08] #91 closed

[2020-07-10 04:49] seongjin605 opened #92 "Some emojis are not supported."
# example
❤️ 🧡 💛 💚 💙 💜 🖤 🤍 🤎 💔 ❣️ 💕 💞 💓 💗 💖 💘 💝 💟 ☮️ ✝️ ☪️ 🕉 ☸️ ✡️ 🔯 🕎 ☯️ ☦️ 🛐 ⛎ ♈️ ♉️ ♊️ ♋️ ♌️ ♍️ ♎️ ♏️ ♐️ ♑️ ♒️ ♓️ 🆔 ⚛️ 🉑 ☢️ ☣️ 📴 📳 🈶 🈚️ 🈸 🈺 🈷️ ✴️ 🆚 💮 🉐 ㊙️ ㊗️ 🈴 🈵 🈹 🈲 🅰️ 🅱️ 🆎 🆑 🅾️ 🆘 ❌ ⭕️ 🛑 ⛔️ 📛 🚫 💯 💢 ♨️ 🚷 🚯 🚳 🚱 🔞 📵 🚭 ❗️ ❕ ❓ ❔ ‼️ ⁉️ 🔅 🔆 〽️ ⚠️ 🚸 🔱 ⚜️ 🔰 ♻️ ✅ 🈯️ 💹 ❇️ ✳️ ❎ 🚗 🚕 🚙 🚌 🚎 🏎 🚓 🚑 🚒 🚐 🚚 🚛 🚜 🦯 🦽 🦼 🛴 🚲 🛵 🏍 🛺 🚨 🚔 🚍 🚘 🚖 🚡 🚠 🚟 🚃 🚋 🚞 🚝 🚄 🚅 🚈 🚂 🚆 🚇 🚊 🚉 ✈️ 🛫 🛬 🛩 💺 🛰 🚀

# result
![image](https://user-

[2020-08-06 14:51] gHashTag opened #95 "Custom emoji"
Many icons are missing in the project. To add you need to follow these [instructions](https://github.com/omnidan/node-emoji#adding-new-emoji).

How to understand what is encrypted [here](https://github.com/omnidan/node-emoji/blob/4004ffe722364249643eccf493d8aea2448da1f2/lib/)?

```"0023-fe0f-20e3":[["\u0023\uFE0F\u20E3","\u0023\u20E3"],"\uE210","\uDBBA\uDC2C",["hash"],0,0,15,0],```

I know that ve

[2020-08-07 01:55] Richienb commented on #95
@gHashTag The "encrypted" values are actually hexadecimal numbers, each of which is assigned to a unicode value. For example, the unicode value of `a` is `\u0061`. Here's [the full table](https://unicode-table.com/).

[2020-08-07 04:11] gHashTag commented on #95
@Richienb Let's say I want to add leafy_green 🥬
Its Unicode u1F96C
How to add it to lib / emojifile.js file
There, besides him, is full of other attributes, where can I get them?

```"0023-fe0f-20e3":[["\u0023\uFE0F\u20E3","\u0023\u20E3"],"\uE210","\uDBBA\uDC2C",["hash"],0,0,15,0],```

[2020-08-21 21:17] taprile314 opened #96 "Is this project aplicable to a web app?"
In terms of bundle size, is it worth to add to an angular/vue app?

[2020-08-21 23:58] #96 closed, assigned to nobody

[2020-09-21 06:08] ceisele-r opened #97 "Create updated release with bumped dependencies"
Hi,

I saw that in #88 there was the move from `lodash.toarray` to the regular `lodash` package in dependencies.
Would it be possible to create a new release that contains this change as we would like to get away from having `lodash.toarray` in our dependency tree (it's coming in through the latest published version of `node-emoji`)?

Thanks!

[2020-11-18 08:17] up73k opened #100 "Remove space on strip"
.strip method remove space with ® sign.

[code]

Please fix this.

[2020-11-18 08:35] Richienb commented on #100
® is being treated as an emoji.

[2020-11-18 09:20] lancedikson commented on #100
I guess, the problem is with space — why is it removed and could it be fixed somehow? :)

[2020-11-18 09:49] Richienb commented on #100
Spaces after emojis are automatically removed.

Emoji.strip calls the `Emoji.replace` function with the third parameter set to `true`:

https://github.com/omnidan/node-emoji/blob/4004ffe722364249643eccf493d8aea2448da1f2/lib/emoji.js#L300

That third parameter is named `cleanSpaces`:

https://github.com/omnidan/node-emoji/blob/4004ffe722364249643eccf493d8aea2448da1f2/lib/emoji.js#L274

[2020-11-18 09:58] lancedikson commented on #100
Thanks 👍 Looks like we could use `Emoji.replace` instead of `strip` :)

[2020-11-18 10:52] up73k commented on #100
Thanks!

[2020-11-18 10:53] #100 closed

[2020-12-18 05:56] ponikar opened #103 "How could I use iOS Emoji on Android?"
Hello there,
I am building a cross-platform app in React Native.
I want to add emojis as iOS has.
Does anyone have any idea how to do that?

[2020-12-18 06:10] #103 closed

[2021-01-01 08:34] goodjun opened #104 "Colon character conversion failure"
Colon string conversion failure.

like this:
[code]

[2021-01-26 09:15] ceisele-r commented on #97
@Richienb @omnidan would it be possible to create a new release for the mentioned reason?
Or is v2 from https://github.com/omnidan/node-emoji/pull/86 anyway around the corner?

[2021-02-10 20:10] sloanlance opened #105 "Feature: allow search to take in a RegExp"
Change `emoji.search()` to return emoji whose name _contains_ the search string.  I can imagine two approaches:

1. Always treat the argument as a substring. E.g., `emoji.search('evil')` → `[{ key: 'see_no_evil', emoji: '🙈' }, { key: 'see_no_evil', emoji: '🙈' }, { key: 'see_no_evil', emoji: '🙈' }]`. (Example results not exhaustive.)
	* This is probably easiest and most lightweight to implement, bu

[2021-02-11 00:54] Richienb commented on #105
I think that is the current behaviour.

We could allow RegExp objects to be passed that are evaluated again each emoji.

[2021-03-06 08:30] Dhanraj-Naik commented on #95
Hi i am getting :waving_black_flag: when i add flag-england(🏴󠁧󠁢󠁥󠁮󠁧󠁿) or flag-scotland(🏴󠁧󠁢󠁳󠁣󠁴󠁿) or flag-wales(🏴󠁧󠁢󠁷󠁬󠁳󠁿) when i unemojify.
so again when i do emojify that :waving_black_flag: string, i am getting following output:
OUTPUT: 🏴?????????????????????????.

Why 🏴󠁧󠁢󠁥󠁮󠁧󠁿  🏴󠁧󠁢󠁳󠁣󠁴󠁿 flags are not decoded even if their codes are mentioned in emojifile.js?

[2021-03-06 08:33] Dhanraj-Naik opened #106 "🏴󠁧󠁢󠁥󠁮󠁧󠁿 🏴󠁧󠁢󠁳󠁣󠁴󠁿 england, scotland flags are not decoded even if their unicode values are mentioned in emojifile.js"
Hi
i am getting :waving_black_flag: when i add flag-england(🏴󠁧󠁢󠁥󠁮󠁧󠁿) or flag-scotland(🏴󠁧󠁢󠁳󠁣󠁴󠁿) or flag-wales(🏴󠁧󠁢󠁷󠁬󠁳󠁿) when i unemojify.
so again when i do emojify that :waving_black_flag: string, i am getting following output:
OUTPUT: 🏴?????????????????????????.

Why 🏴󠁧󠁢󠁥󠁮󠁧󠁿  🏴󠁧󠁢󠁳󠁣󠁴󠁿 flags are not decoded even if their codes are mentioned in emojifile.js?

Platform: React Native 63.0.+
Node.js v14

[2021-03-06 10:13] Dhanraj-Naik commented on #106
i think the issue is with lodash toArray method here which is used inside emoji.js file to unemojify string to array.
![Screenshot 2021-03-06 at 3 42 17 PM](https://user-images.githubusercontent.com/74100008/110203170-8d8bb380-7e92-11eb-859a-e7c0e634f0d5.png)

That is:
_.toArray('🏴󠁧󠁢󠁥󠁮󠁧󠁿');
outputs as:
["🏴", "󠁧", "󠁢", "󠁥", "󠁮", "󠁧", "󠁿"]

Any help here will be much appreciated.
Thank you

[2021-03-26 17:19] francescov1 commented on #92
🥳 as well, seems like a popular one that should be here

[2021-05-13 23:55] networkException opened #109 "Add support for regional indicators"
The character making up flag emojis itself are also common to get rendered nowadays, a list of them can be found here https://en.wikipedia.org/wiki/Regional_indicator_symbol#Unicode_block

[2021-09-21 19:11] benharvie opened #111 "Trying to get in touch regarding a security issue"
Hey there!

I'd like to report a security issue but cannot find contact instructions on your repository.

If not a hassle, might you kindly add a `SECURITY.md` file with an email, or another contact method? GitHub [recommends](https://docs.github.com/en/code-security/getting-started/adding-a-security-policy-to-your-repository) this best practice to ensure security issues are responsibly disclosed,

[2021-09-21 22:11] Richienb commented on #111
For now, you could drop me or @omnidan an email.

[2021-11-23 13:47] Half-Shot opened #114 "NPM has v1.11.0 but this repository only has v1.10.0"
So it's hard to know what's in the latest release, or if it's safe to use?

[2021-11-23 15:34] omnidan commented on #114
Yes, it is safe to use. I am sorry, I simply forgot to create the release on github... thanks for reminding me! 😅

I created the release now so the release notes can be found here: https://github.com/omnidan/node-emoji/releases/tag/v1.11.0

[2021-11-23 15:34] #114 closed

[2021-11-23 15:35] Half-Shot commented on #114
Awesome! Thanks!

[2022-02-20 17:28] KaKi87 commented on #74
Hello, any news on this ? Thanks

[2022-03-24 09:25] namiskuukkel opened #116 "Directions to use emoji with "-" in their name"
I just took a look at emoji.json and saw there are several emojis whose name contains "-" character. Those can't ofcourse be referenced with the syntax the readme points out (eg. emoji.t-rex). You should update the readme to point out you can also reference the emojis with emoji['t-rex'] which enables access to those emojis.

[2022-04-16 17:05] omnidan commented on #116
@namiskuukkel thanks for the suggestion! I think in general we should change the readme to use the `emoji['t-rex']` syntax instead. would you be up for doing a PR for that change?

[2022-05-23 15:10] aral opened #119 "Strip method doesn’t strip all emoji"
Assuming there are new emoji codepoints that aren’t included. e.g., the following doesn’t get stripped:

[code]

[2022-06-18 13:32] jrejaud commented on #119
I am running into this issue as well.